.tg_head_split {
    max-width: 100% !important;
}

.im_page_wrap {
    max-width: 100% !important;
}

.im_message_wrap {
    max-width: 100% !important;
}

.im_send_form {
    max-width: 100% !important;
}

.im_send_panel_wrap {
    max-width: 100% !important;
}